.banner-img {
  align-items: normal;
}
/* .banner-img h2{
  margin-top: 100px;
} */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
  margin-bottom: 8px;
  color: var(--secondary-color);
}

form input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 20px;
  background-color: #000;
  color: #ffffff;
  padding: 10px;
  border: none;
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #2d49c4;
  color: #ffffff;
}
