form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #444;
  border-radius: 10px;
}
.carousel-container {
  width: 40%;
  height: 50%;
  margin: 0 auto;
}
.slick-slide {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}
h2 {
  color: #f7cc53;
  text-align: center;
}
.card img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.card .info {
  flex: 1;
}
.card h4 {
  font-size: 24px;
  margin-bottom: 5px;
}

.text {
  flex: 1;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
  white-space: pre-line;
}

.descript {
  margin-right: 100px;
  margin-left: 100px;
}
.title {
  font-size: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title > h3 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 150px;
}

span {
  color: #f7cc53;
  text-shadow: 1px 1px #000000;
}

.small-tagline {
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.small-tagline p {
  color: #fff;
  top: 50%;
  opacity: 0.7;
  margin-bottom: 30px;
}
