* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

.banner-img {
  background: url("../../assets/cool-background.png");
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: #fff;
  width: 100%;
  color: #000;
  padding: 1.1rem;
  /* position: sticky; */
  z-index: 1000;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #000;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  color: #0000;
  font-weight: bold;
  background: linear-gradient(90deg, #6b5df2 50%, #000 0) var(--_p, 100%) / 200%
    no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 1s;
  margin-right: 16px;
}
.logout {
  background-color: red;
  border-radius: 4px;
  padding: 4px;
  color: white;
  cursor: pointer;
}

.logout:hover {
  transform: scale(1.05);
}
#navbar ul li a:hover {
  --_p: 0%;
}
.logo > span {
  color: #f7cc53;
}
@media (max-width: 640px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
  }
  #navbar ul li a {
    padding: 0.5rem;
  }
}
